.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 1128px;

  padding: 100px 0;

  margin: 0 auto;
}

.gallery-image {
  width: 360px;

  transition: transform 250ms;
}

.gallery-image:hover {
  transform: scale(1.05);
}
